::-webkit-scrollbar{
    opacity: 0;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb{
    opacity: 100%;
    width: 0.5rem;
    background-color: darkgrey;
    border-radius: 0.25rem;
}

.tasklist-container{
    width: 100%;
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;    
}

.tasks-holder {
    width: 100%;
    overflow-y: overlay;    
    display: flex;
    flex-direction: column;
    align-items: center;
}