.header {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgb(49, 90, 228);
    padding: 0.75em 0;
    font-size: 2rem;
    margin-bottom: 1em;
    color: white;
}