.task-container{
    width: 50%;
    border: 1px black solid;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
}

.task-bottom-row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .task-deadline{
        font-size: 0.9rem;
    }

    .icon-row{
        display: flex;
        justify-content: end;
    }
    
    .edit-icon{
        cursor: pointer;
        margin-right: 0.5em;
    }
    
    .done-icon{
        cursor: pointer;
    }
}

@media only screen and (max-width: 680px) {
    .task-container{
        width: 75%;
    }
}